Source: libvmod-dynamic
Section: web
Priority: extra
Maintainer: Dridi Boukelmoune <dridi.boukelmoune@gmail.com>
Build-Depends: debhelper (>= 7),
 build-essential,
 pkg-config,
 python-docutils,
 varnish (>= 4.1.1),
 libvarnishapi-dev (>= 4.1.1)
Standards-Version: 3.8.1
Vcs-Git: git://github.com/nigoroll/libvmod-named.git

Package: libvmod-dynamic
Architecture: any
Depends: varnish (>= 4.1.1), ${shlibs:Depends}, ${misc:Depends}, ${Varnish:ABI}
Description: Named vmod for Varnish
