#!/usr/bin/make -f
export DH_VERBOSE=1

override_dh_gencontrol:
	if [ -n "$$DEBIAN_OVERRIDE_BINARY_VERSION" ]; then \
		dh_gencontrol -- -v$$DEBIAN_OVERRIDE_BINARY_VERSION; \
	else \
		dh_gencontrol ; \
	fi

override_dh_install:
	dh_install;
	# Emptying the dependency libs in .la files
	sed -i "/dependency_libs/ s/'.*'/''/" `find . -iname '*.la'`;

%:
	dh $@
